#submit-button {
  width: 100px;
  background-color: #154C48;
  border: 2px solid #8A4A62;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 1px rgba(47,82,48,0.48);
  color: #39AA45;
}

.gallery-items {
  width: 960px;
  padding: 50px 0 0 0;
  margin: 0 auto;
}

form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  clear: both;

}
